.whiteBoxAndShadow{
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px #0000000A;
    border: 0.2px solid var(--light-gray);
    border-radius: 2px;
    
}

.sectionHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 !important;

    margin-bottom: 10px;

    .morelogo{
        height: 16px;
    }
}

.dashboardContainer{
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
    height: 100%;
    width: 100%;

    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .titleAndCalThumbnail{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        .title{
            margin: 0;
            color: var(--gray);
        }
    }

    .marketInsightBar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: white;
        background-color: var(--green);

        padding: 10px;

        .clickForHelp{
            display: flex;
            gap: 5px;
            align-items: center;

            .helplogo{
                width: 20px;
            }
        }
    }

    .salesTurnover{
        width: 276px;

        p{
            color: var(--medium-gray)
        }

        .salesSect{
            display: flex;
            align-items: center;
            
            p{
                display: flex;
                align-items: center;
                font-size: 12px;

                img{
                    display: inline;
                    height: 9px;
                }

                b{
                    margin: 0px 3px;
                    color: red;
                }
            }
        }

        .cartIcon{
            margin: auto;
            
            img{
                width: 49px;
            }
        }
    }

    .bottomContainer{
        display: flex;
        gap: 10px;

        div{
            flex-grow: 1;
        }

        .avgPurchaseVal{
            width: 570px;
            height: fit-content;
        }
    }
}

.crosshair{
    position: absolute;
}

.legends{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.legendContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: black;

    .legendColor{
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }
}