.datePickerContainer{
    position: relative;
    display: inline-block;
    z-index: 10;

    .datePickerThumbnail{
        z-index: 13;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
    }

    .datePicker{
        display: none;
        position: absolute;
        right: 0;
        text-align: center;
        background-color: white;
        width: 500px;
        padding: 20px;

        box-shadow: 0px 2px 6px #0000000A;
        border: 0.2px solid var(--light-gray);
        border-top: none;
        border-radius: 2px;

        .dateHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .dateTitle{
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        .optionsAndCalendar{
            display: flex;
            justify-content: space-between;

            .options{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                p{
                    color: var(--gray);
                    text-align: left;
                    padding: auto;
                    font-size: 15px;

                    flex-grow: 1;

                    display: flex;
                    align-items: center;
                }
            }
            .sepline{
                width: 1px;
                background-color: var(--gray);
            }
        }
    }
}

.calendarlogo{
    width: 22px;
    height: 22px;
}

.borderBottom{
    border-bottom: solid 1px var(--gray);
}

.applyButton{
    height: 30px;
    width: 100%;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.buttonHighlight{
    font-weight: bold;
    background-color: rgb(225, 255, 225);
}