.NavbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    position: relative;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 64px;

    padding: 0px 50px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: var(--gray);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

    .mainlogo{
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items: flex-end;
    
        .biglogo{
            width: 128px;
            margin-right: 10px;
        }
    
        .poweredby{
            font-size: 11px;
            margin: 0;
            margin-right: 5px;
        }
    
        .smalllogo{
            width: 72px;
        }
    }
    
    .usercontainer{
        display: flex;
        align-items: center;

        width: fit-content;
        height: fit-content;

        gap: 15px;
    
        .names{
            display: flex;
            flex-direction: column;
            align-items: center;

            #username{
                margin: 0;
                font-size: 14px;
            }
    
            #compname{
                margin: 0;
                font-size: 10px;
            }
        }

        .profilelogo{
            width: 32px;
            height: 32px;
        }

        .logoutlogo{
            width: 15px;
            height: 15px;
        }
    }
}