.rankEntryTop{
    display: flex;
    align-items: center;

    border: 0.5px solid #C5C5C59C;
    border-radius: 4px;

    background-color: #FFE7BD;

    padding: 0 !important;
    .imgRankTop{
        height: 80px;
        width: 80px;
    }
}

.rankEntry{
    display: flex;
    align-items: center;

    border: 0.5px solid #C5C5C59C;
    border-radius: 4px;

    .imgRank{
        height: 60px;
        width: 60px;
    }
}

.prodDetails{
    box-sizing: border-box;
    padding: 0px 10px;

    .prodStat{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;

        color: var(--gray)
    }
}

.ranksContainer{
    box-sizing: border-box;
    margin: 10px 0px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}