.sidebarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 72px;

    border: 0.5px solid #D2D2D2;
    border-top: none;
    border-left: none;
    
    .staggeredMenuIcon{
        box-sizing: border-box;
        height: 30px;

        padding: 15px;

        color: var(--medium-gray);
    }

    .sidebarTab{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 48px;
        background-color: white;

        .analyticsIcon{
            width: 17px;
            padding: 2px;
            border-radius: 2px;
            background-color: white;
        }
    }

    .sidebarTab:hover{
        background-color: var(--medium-gray);
    }
}